    {{templates "header.html"}}
    {{templates "navigation.html"}}
    <h1>WELCOME {{.ChurchName}}</h1>
    <h2>G.O. Pastor: {{.PastorsName}}</h2>
    <h3>{{.BibleVerse}}</h3>
    <p>Jesus Christ is the same yesterday, today, and forever</p>
        <h3>Weekly Activities</h3>
        <div>
    {{range .Activity}}
    <h3>{{.Day}}</h3>
    <p>Service: {{.Service}}</p>
    <p>Time: {{.Time}}</p>
    <p>Preacher: {{.Preacher}}</p>
    <p>Venue: {{.Venue}}</p>
    {{if .IsLive}}
    <p>Status:🟢  Live</p>
    {{else}}
    <p>Status:🔴  Offline</p>
    {{end}}
    <br>
    <hr>
        </div>
    {{end}}
    {{templates "footer.html"}}